*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #00AAFF, #00FF6C);
}

.atm-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 50vh;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: minmax(120px, auto) repeat(3, 100px);
}

.span-two {
    grid-column: span 2;
}

.span-three {
    grid-column: span 3;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

    .output .current-operand {
        color: white;
        font-size: 2.5rem;
    }

.divLikeBtn {
    display: inline-block;
    color: #444;
    border: 1px solid #CCC;
    background: #DDD;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor: pointer;
    vertical-align: middle;
    max-width: 100px;
    padding: 5px;
    text-align: center;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}

.divLikeBtn:hover {
    background-color: rgba(255, 255, 255, .9);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-size: 24px;
}