@section Stylesheets {
    <link href="@Url.Content("/css/errorPageStyle.css")" rel="stylesheet" />
}

<div class="header">
    <h1>Error</h1>
    <p>@ViewBag.Message</p>
</div>
<div class="row">
    <div class="col-sm-12 text-center">
        @if (@ViewBag.Flag == true)
        {
            <button type="button" id="thirdBtn" class="btn btn-info btn-md center-block" Style="width: 100px; margin: 25px;">Back</button>
        }
        else
        {
            <button id="firstBtn" class="btn btn-info btn-md center-block" Style="width: 100px; margin: 25px;" onclick="window.history.back()">Back</button>
        }

    </div>
</div>


@section Scriptheets {
    <script src="@Url.Content("/js/errorPageScript.js")"></script>
}
