@section Stylesheets {
    <link href="@Url.Content("/css/errorPageStyle.css")" rel="stylesheet" />
}

<div class="header">
    <h1>Error</h1>
    <p>@ViewBag.Message</p>
</div>
<div class="row">
    <div class="col-sm-12 text-center">
        @if (@ViewBag.Flag == true)
        {
        <button type="button" id="thirdBtn" class="btn btn-info btn-md center-block" Style="width: 100px; margin: 25px;">Back</button>
        }
        else
        {
            <button id="firstBtn" class="btn btn-info btn-md center-block" Style="width: 100px; margin: 25px;" onclick="window.history.back()">Back</button>
        }

    </div>
</div>

<script>

    const redirectTo= document.querySelector('#thirdBtn');

    if (redirectTo) {
        redirectTo.addEventListener('click', redirectToOperations);
    }

    function redirectToOperations() {
        $.ajax({
            type: "post",
            data: {
                cardNumber: localStorage.getItem('cardNumberSt'),
            },
            url: "/Home/RedirectOperations",
            success: function (response) {
                window.location.href = response.redirectToUrl;
            }
        });
    }
</script>
