@{
    ViewData["Title"] = "Home Page";
}

@section Stylesheets {
    <link href="@Url.Content("./css/homeStyle.css")" rel="stylesheet" />
}

<form method="post" id="atm-form">
    <div class="atm-grid">
        <div class="output">
            <div data-previous-operand class="previous-operand"></div>
            <div data-current-operand class="current-operand"></div>
        </div>

        <div class="divLikeBtn" data-number>0</div>
        <div class="divLikeBtn" data-number>1</div>
        <div class="divLikeBtn" data-number>2</div>
        <div class="divLikeBtn" data-number>3</div>
        <div class="divLikeBtn" data-number>4</div>
        <div class="divLikeBtn" data-number>5</div>
        <div class="divLikeBtn" data-number>6</div>
        <div class="divLikeBtn" data-number>7</div>
        <div class="divLikeBtn" data-number>8</div>
        <div class="divLikeBtn" data-number>9</div>
        <div class="divLikeBtn" data-all-clear>AC</div>
        @*@Html.ActionLink("OK", "DeletePost", "Posts", new { @class = "btn btn-success" });*@
        <button class="divLikeBtn span-three">OK</button>
    </div>
 </form>



    @section Scriptheets {
        <script src="@Url.Content("./js/homeScript.js")"></script>
    }
